<!DOCTYPE html>
<html ng-app="rakhat-project">

<head>
    <meta charset="utf-8" />
    <title>Product List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.angularjs.org/1.5.8/angular.js"></script>
    <script src="appp.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
</head>
<style>
    .top{
        background-image: url("https://img.freepik.com/free-vector/chocolate-background-3d-realistic-vector_163454-172.jpg?size=626&ext=jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
</style>
<body ng-controller="RegisterCtrl">
<div class="row">
    <div class="row">
        <div class="col-lg-6">
            <input ng-model="registration.username" type="text" placeholder="enter login" class="form-control form-control-lg inverse-mode" />
            <input ng-model="registration.password"  type="password" placeholder="enter password" class="form-control form-control-lg inverse-mode" />
            <div class="register-buttons">
                <button ng-click="registerUser(registration)" type="submit" class="btn btn-success btn-block btn-lg">Register</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>
